
    body {
        background-image: url(./Image/valorant-background-super-grafis-dark-600nw-2051284997.webp);
        margin-left: 200px;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
    }

    nav {
        background-color: #212121;
        padding: 25px 35px;
        display: flex;
        align-items: center;
        
        
    }

    nav a {
        color: red;
        font-size: 25px;
        margin-right: 35px;
        
    }

    nav .right {
        margin-left: auto;
    }

    nav a:hover {
        color: white;
        text-decoration: none;
        
    }

    h1 {
        font-size: 50px;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        
    }

    .container {
        display: center;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .agent {
        display: flex;
        justify-content: space-between;
        padding: 40px;
        flex-wrap: wrap;
        gap: 5rem;

        }

        .Agent img {
            width: 100%;
            max-width: 400px;
            object-fit: cover;
            float: left;
            
        }

        .txt {
          padding-left: 500px;
        
        }
 
        .abise {
            display: flex;
            padding-left: 500px;
            gap: 50px;
            
            
        }

        .abi img {
            width: 250px;
            height: 250x;
            position: center;

        }

        .abi2 {
            display: flex;
            padding-left:  130px;
           position: center;
           gap: 50px;
           padding-top: 20px;
        }

       
