
    body {
        background-image: url(Background.gif);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 100%;
        margin: 0;
        background-attachment: fixed;
    }

    nav {
        background-color: #212121;
        padding: 25px 35px;
        display: flex;
        align-items: center;
    }

    nav a {
        color: red;
        font-size: 25px;
        margin-right: 35px;
    }

    nav .right {
        margin-left: auto;
    }

    nav a:hover {
        color: white;
        text-decoration: none;
    }

    .banner {
        position: relative;
        text-align: center;
        color: #FFFDF6;
        margin-top: 250px;
    }
    
    .banner h1 {
        font-size: 70px;
        margin-bottom: 10px;
    }

    .PFF {
        background-color: red;
        color: #FFFDF6;
        padding: 20px 25px;
        border-radius: 15px;
        text-decoration: none;
    }

    .PFF:hover {
        background-color: darkred;
    }

    .about {
        background-color: #212121;
        padding: 20px 10px;
        display: flex;
        justify-content: space-around;
        margin-top: 237px;
        color: #FFFDF6;
    }

    .about h3 {
        margin-bottom: 10px;
        font-size: 25px;
        color: red;
    }


    @media (max-width: 768px) {
        nav {
            flex-wrap: wrap;
            justify-content: center;
        }
        nav a {
            font-size: 18px;
            margin: 10px;
        }
        .banner {
            margin-top: 100px;
            padding: 0 15px;
        }
        .banner h1 {
            font-size: 40px;
        }
        .banner h2 {
            font-size: 18px;
        }
        .about {
            flex-direction: column;
            text-align: center;
            gap: 20px;
            margin-top: 100px;
        }
        .about h3 {
            font-size: 20px;
        }
        .about p {
            font-size: 16px;
        }
    }
